In [2]:
import pandas as pd

In [3]:
poltava19 = pd.read_excel("../data/Poltava_Pilot_18-19.xlsx", sheet_name = "2019en", index_col = None)

In [4]:
poltava19.shape

(269706, 22)

In [121]:
print(poltava19.head)

<bound method NDFrame.head of                                                  Hospital   ЄДРПОУ  \
0       КП ''3-Я МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ М...  1111581
1       КП ''3-Я МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ М...  1111581
2       КП ''3-Я МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ М...  1111581
3       КП ''3-Я МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ М...  1111581
4       КП ''3-Я МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ М...  1111581
...                                                   ...      ...
269701  КП "4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999678
269702  КП "4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999678
269703  КП "4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999678
269704  КП "4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999678
269705  КП "4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999678

                                    код запису  \
0       {33997A8C-8683-4AB3-ABC5-E9E7A4D6E8BA}
1       {C79D7FA3-1FBC-444C-9BB5-AC45D4A0C1D6}
2       {6111287D-280C-4539-9A3C-5CD4C8AAB3D9}
3       {09545925-EDE9-4560-A5C4-84551FEEE03F}
4       {CEF9528D-0778-41EC-B1B0-215D0D452317}
...                                        ...
269701  {AB7823D2-5601-48D1-B2FD-3ADD3107C5E2}
269702  {E449AF13-CA80-4F7B-8352-F4C78268E860}
269703  {B91E0600-EACC-4C5A-89BF-9A7A9D175973}
269704  {F701683C-9D7B-45C3-B4B2-1820A8400EE0}
269705  {A486D408-655A-4FFF-BD6D-A478EB8D2A15}

       дата введення форми 066/o в систему       id  gender birth date  \
0                               2019-01-29   6465/6       1 1953-06-18
1                               2019-01-02  6444/47       1 1954-11-20
2                               2019-01-29  6401/41       1 1981-11-20
3                               2019-01-04  6206/82       1 1959-01-21
4                               2019-01-22  6385/14       2 1956-05-22
...                                    ...      ...     ...        ...
269701                          2019-12-20     5153       2 1937-04-02
269702                          2019-12-20     5163       1 1972-08-05
269703                          2019-12-20     5166       2 1955-11-02
269704                          2019-12-26      57.       2 1976-08-30
269705                          2019-12-26      71.       2 1986-04-16

        age in days hospitalization date discharge date  ...  \
0             23936           2018-12-30     2019-01-01  ...
1             23416           2018-12-30     2019-01-01  ...
2             13550           2018-12-26     2019-01-02  ...
3             21879           2018-12-16     2019-01-02  ...
4             22863           2018-12-26     2019-01-02  ...
...             ...                  ...            ...  ...
269701        30212           2019-12-20     2019-12-31  ...
269702        17303           2019-12-20     2019-12-31  ...
269703        23424           2019-12-20     2019-12-31  ...
269704        15823           2019-12-26     2019-12-31  ...
269705        12307           2019-12-26     2019-12-31  ...

       concomitant diagnosis 2 concomitant diagnosis 3  \
0                        I20.8                     NaN
1                         H82*                   I67.4
2                          NaN                     NaN
3                         J91*                     J86
4                        I11.0                   I67.4
...                        ...                     ...
269701                   I11.0                   J44.8
269702                     NaN                     NaN
269703                   I50.0                   I11.9
269704                     NaN                     NaN
269705                     NaN                     NaN

       concomitant diagnosis 4 concomitant diagnosis 5 manipulation code 1  \
0                          NaN                     NaN                 NaN
1                        I25.1                   I49.4                 NaN
2                          NaN                     NaN                 NaN
3                        I25.0                   I11.9           GF5.01.02
4                          NaN                     NaN                 NaN
...                        ...                     ...                 ...
269701                     NaN                     NaN                 NaN
269702                     NaN                     NaN                 NaN
269703                   G93.4                   J18.1                 NaN
269704                     NaN                     NaN              FL7.06
269705                     NaN                     NaN              CL7.32

       manipulation code 2 manipulation code 3 manipulation code 4  \
0                      NaN                 NaN                 NaN
1                      NaN                 NaN                 NaN
2                      NaN                 NaN                 NaN
3                      NaN                 NaN                 NaN
4                      NaN                 NaN                 NaN
...                    ...                 ...                 ...
269701                 NaN                 NaN                 NaN
269702                 NaN                 NaN                 NaN
269703                 NaN                 NaN                 NaN
269704              CL7.32                 NaN                 NaN
269705                 NaN                 NaN                 NaN

       manipulation code 5 result
0                      NaN      0
1                      NaN      0
2                      NaN      0
3                      NaN      0
4                      NaN      0
...                    ...    ...
269701                 NaN      0
269702                 NaN      0
269703                 NaN      0
269704                 NaN      0
269705                 NaN      0

[269706 rows x 22 columns]>

In [157]:
mydata = [{'ID' : '10', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016'},
          {'ID' : '20', 'Entry Date': '10/10/2016', 'Exit Date': '18/10/2016'},
          {'ID': '30', 'Entry Date': '11/10/2016', 'Exit Date': '11/10/2016'},
          {'ID': '40', 'Entry Date': '10/10/2016', 'Exit Date': '15/10/2016'}]

df = pd.DataFrame(mydata)

In [158]:
df['Entry Date'] = pd.to_datetime(df['Entry Date'])
df['Exit Date'] = pd.to_datetime(df['Exit Date'])

df2 = pd.melt(df, id_vars='ID', value_name='Date')

print(df2)
df2.Date = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace=True)
df2.drop('variable', axis=1, inplace=True)
print (df2)

   ID    variable       Date
0  10  Entry Date 2016-10-10
1  20  Entry Date 2016-10-10
2  30  Entry Date 2016-11-10
3  40  Entry Date 2016-10-10
4  10   Exit Date 2016-10-15
5  20   Exit Date 2016-10-18
6  30   Exit Date 2016-11-10
7  40   Exit Date 2016-10-15
            ID
Date
2016-10-10  10
2016-10-10  20
2016-11-10  30
2016-10-10  40
2016-10-15  10
2016-10-18  20
2016-11-10  30
2016-10-15  40

In [160]:
df3 = df2.groupby('ID').resample('D').ffill().reset_index(level=0, drop=True)
print(df3)

            ID
Date
2016-10-10  10
2016-10-11  10
2016-10-12  10
2016-10-13  10
2016-10-14  10
2016-10-15  10
2016-10-10  20
2016-10-11  20
2016-10-12  20
2016-10-13  20
2016-10-14  20
2016-10-15  20
2016-10-16  20
2016-10-17  20
2016-10-18  20
2016-11-10  30
2016-10-10  40
2016-10-11  40
2016-10-12  40
2016-10-13  40
2016-10-14  40
2016-10-15  40

In [67]:
df3 = df2.groupby('ID').resample('D').ffill().reset_index(level=0, drop=True).reset_index()
print (df3)

         Date  ID
0  2016-10-10  10
1  2016-10-11  10
2  2016-10-12  10
3  2016-10-13  10
4  2016-10-14  10
5  2016-10-15  10
6  2016-10-10  20
7  2016-10-11  20
8  2016-10-12  20
9  2016-10-13  20
10 2016-10-14  20
11 2016-10-15  20
12 2016-10-16  20
13 2016-10-17  20
14 2016-10-18  20
15 2016-11-10  30

In [6]:
import string
import re
def get_first_symbol(str):
    for char in str:
        #if (char in string.ascii_letters) or (char is char.isalpha()):
        #if (bool(re.match('[а-яА-Я]', str))) or (char is char.isalpha()):
        if char not in ["'", '"', "-"]:
            return char

In [7]:
def get_first_letters(string):
    string = string.replace('"', '')
    list_of_strings = string.split()
    s = ""
    for n in range(1, len(list_of_strings)):
        
        s = s + get_first_symbol(list_of_strings[n])
    return list_of_strings[0] + "_" + s

In [8]:
poltava19['HospitalAbb'] = poltava19['Hospital'].apply(get_first_letters)

In [9]:
print(poltava19['HospitalAbb'].unique())

['КП_3МКЛПМР' 'КМП_ЛП' 'КНМП_ЛВЛ' 'КНМП_КМЛП' 'КП_ПОДКЛПОР' 'КП_5МКЛПМР'
 'КП_ПОКЛІМПОР' 'КП_ОКЛВЛТДЗОЦПСТРЛМГПОР' 'КНП_ВЦРЛВРРПО' 'КНП_ГЦРЛГРР'
 'КНМП_ГЦРЛГРРПО' 'КНП_ГЦРЛГРРПО' 'КНП_ДЛПЛДРР' 'КНП_ЗЦРЛЗРРПО'
 'КНП_КЦРЛІР' 'КНП_КЦРЛКРРПО' 'КНП_КЦРЛКРР' 'КНП_КРРКЦРЛ' 'КНП_ЛРЛЛРР'
 'КП_ЛЛІЛЛМР' 'КНП_МЦРЛМРРПО' 'КНП_НЦРЛНРРПО' 'КНП_ОЦРЛОРРПО' 'КП_ПЦРЛПРР'
 'КНП_ПЦРКЛПРР' 'КНП_РЦРЛРРРПО' 'КП_СЦРЛСРР' 'КНП_ХЦРЛХРРПО'
 'КНП_ЧРЛЧРРПО' 'КНП_ЧЦРЛ' 'КНП_ШЦРЛШРРПО' 'КНМП_КПМЛІ'
 'КНП_ЛІЛІРМГПГМРПО' 'КНМП_КПЦІР' 'КП_1МКЛПМР' 'КП_ПОКІЛПОР' 'КП_4МКЛПМР'
 'КП_ДМКЛПМР' 'КП_МКПБПМР' 'КП_2МКЛПМР' 'КП_ПОКШДПОР' 'КНМП_КМДЛ'
 'КНМП_ЛІЛК' 'КНП_МЦРЛМРР' 'КП_КОНДПОР' 'КП_ЛОНДПОР' 'КП_ПОНДПОР']

In [10]:
poltava19['hospital_id'] = poltava19["id"] + "_" + poltava19["HospitalAbb"]

In [11]:
poltava19 = poltava19.rename(columns={'код запису':'code_of_entry'})

In [13]:
df = poltava19
pd.concat(g for _, g in df.groupby("code_of_entry") if len(g) > 1)

,Hospital,ЄДРПОУ,code_of_entry,дата введення форми 066/o в систему,id,gender,birth date,age in days,hospitalization date,discharge date,...,concomitant diagnosis 4,concomitant diagnosis 5,manipulation code 1,manipulation code 2,manipulation code 3,manipulation code 4,manipulation code 5,result,HospitalAbb,hospital_id
28020,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,{01A46BBF-FF49-4CFA-BBCB-4DAE42E9A1CD},2019-02-11,1052,1,1962-11-26,20520,2019-01-31,2019-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_ЛЛІЛЛМР,1052_КП_ЛЛІЛЛМР
50879,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,{01A46BBF-FF49-4CFA-BBCB-4DAE42E9A1CD},2019-02-11,1052,1,1962-11-26,20520,2019-01-31,2019-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_ЛЛІЛЛМР,1052_КП_ЛЛІЛЛМР
10127,"КНП ""ОРЖИЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ"" ОРЖИ...",1999448,{05066D71-1B1E-42DB-A955-2FE685FF455F},2019-01-24,239,1,2015-05-09,1350,2019-01-18,2019-01-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КНП_ОЦРЛОРРПО,239_КНП_ОЦРЛОРРПО
29374,"КНП ""ОРЖИЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ"" ОРЖИ...",1999448,{05066D71-1B1E-42DB-A955-2FE685FF455F},2019-01-24,239,1,2015-05-09,1350,2019-01-18,2019-01-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КНП_ОЦРЛОРРПО,239_КНП_ОЦРЛОРРПО
20609,"КП ""5-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...",1204377,{06BD0B37-48C0-48DD-A68B-E2E62EC86161},2019-02-07,505,2,1940-09-21,28626,2019-02-05,2019-02-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_5МКЛПМР,505_КП_5МКЛПМР
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35375,"КП ""4-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...",1999678,{EC2E168C-A23C-4310-9BD5-9E57A8971E9C},2019-01-15,228,2,1949-06-26,25405,2019-01-15,2019-01-25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_4МКЛПМР,228_КП_4МКЛПМР
29881,"КП ""ПИРЯТИНСЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ"" ПИ...",1999460,{ECD2416B-5813-4454-9898-29C12FF0AE61},2019-02-20,700/65,2,1983-01-24,13170,2019-02-14,2019-02-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_ПЦРЛПРР,700/65_КП_ПЦРЛПРР
61481,"КП ""ПИРЯТИНСЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ"" ПИ...",1999460,{ECD2416B-5813-4454-9898-29C12FF0AE61},2019-02-20,700/65,2,1983-01-24,13170,2019-02-14,2019-02-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,КП_ПЦРЛПРР,700/65_КП_ПЦРЛПРР
37068,"КП ""2-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...",1999721,{F278518C-3AAE-4508-B20A-0A373C98F480},2019-02-04,610,1,1946-08-27,26442,2019-01-18,2019-02-04,...,NaN,NaN,AT7.03.03,NaN,NaN,NaN,NaN,0,КП_2МКЛПМР,610_КП_2МКЛПМР
54851,"КП ""2-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...",1999721,{F278518C-3AAE-4508-B20A-0A373C98F480},2019-02-04,610,1,1946-08-27,26442,2019-01-18,2019-02-04,...,NaN,NaN,AT7.03.03,NaN,NaN,NaN,NaN,0,КП_2МКЛПМР,610_КП_2МКЛПМР

In [14]:
print(poltava19.shape)
poltava19_1 = poltava19.drop_duplicates(subset=['code_of_entry'])
print(poltava19_1.shape)

(269706, 24)
(269618, 24)

In [15]:
df = poltava19_1
ids = df["code_of_entry"]
df[ids.isin(ids[ids.duplicated()])].sort_values("code_of_entry")

Empty DataFrame
Columns: [Hospital, ЄДРПОУ, code_of_entry, дата введення форми 066/o в систему, id, gender, birth date, age in days, hospitalization date, discharge date, main diagnosis, concomitant diagnosis 1, concomitant diagnosis 2, concomitant diagnosis 3, concomitant diagnosis 4, concomitant diagnosis 5, manipulation code 1, manipulation code 2, manipulation code 3, manipulation code 4, manipulation code 5, result, HospitalAbb, hospital_id]
Index: []

[0 rows x 24 columns]

In [17]:
poltava19_1['hospitalization date'] = pd.to_datetime(poltava19_1['hospitalization date'])
poltava19_1['discharge date'] = pd.to_datetime(poltava19_1['discharge date'])
#df_test['First_Date'].sub(df_test['Second Date'], axis=0)
poltava19_1["days_in_hospital"] = poltava19_1["discharge date"].sub(poltava19_1["hospitalization date"], axis = 0)

/Users/ruska/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/ruska/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ruska/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
import numpy as np
poltava19_1['days_in_hospital'] = poltava19_1['days_in_hospital'] / np.timedelta64(1, 'D')
poltava19_1['days_in_hospital'] = poltava19_1['days_in_hospital'] + 1

/Users/ruska/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ruska/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
print(poltava19_1['days_in_hospital'].sum())

2472917.0

In [ ]:
df['Entry Date'] = pd.to_datetime(df['Entry Date'])
df['Exit Date'] = pd.to_datetime(df['Exit Date'])

df2 = pd.melt(df, id_vars='ID', value_name='Date')
df2.Date = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace=True)
df2.drop('variable', axis=1, inplace=True)
print (df2)

df3 = df2.groupby('ID').resample('D').ffill().reset_index(level=0, drop=True).reset_index()

In [31]:
poltavaD = poltava19_1.loc[:, ['code_of_entry', 'hospitalization date', 'discharge date']]
df = poltavaD
df['hospitalization date'] = pd.to_datetime(df['hospitalization date'])
df['discharge date'] = pd.to_datetime(df['discharge date'])

df2 = pd.melt(df, id_vars='code_of_entry', value_name='Date')
df2.Date = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace=True)
df2.drop('variable', axis=1, inplace=True)
df3 = df2.groupby('code_of_entry').resample('D').ffill().reset_index(level=0, drop=True)
print(df3)

                                     code_of_entry
Date
2019-05-13                                 1999307
2019-05-14                                 1999307
2019-05-15                                 1999307
2019-05-16                                 1999307
2019-05-17                                 1999307
...                                            ...
2019-04-26  {FFFEF752-13AC-4230-893D-601E3DCEC7C5}
2019-04-27  {FFFEF752-13AC-4230-893D-601E3DCEC7C5}
2019-04-28  {FFFEF752-13AC-4230-893D-601E3DCEC7C5}
2019-04-29  {FFFEF752-13AC-4230-893D-601E3DCEC7C5}
2019-04-30  {FFFEF752-13AC-4230-893D-601E3DCEC7C5}

[2472917 rows x 1 columns]

In [34]:
df3 = df3.reset_index()

In [35]:
df4 = pd.merge(df, df3)

In [36]:
df4

,code_of_entry,hospitalization date,discharge date,Date
0,{33997A8C-8683-4AB3-ABC5-E9E7A4D6E8BA},2018-12-30,2019-01-01,2018-12-30
1,{33997A8C-8683-4AB3-ABC5-E9E7A4D6E8BA},2018-12-30,2019-01-01,2018-12-31
2,{33997A8C-8683-4AB3-ABC5-E9E7A4D6E8BA},2018-12-30,2019-01-01,2019-01-01
3,{C79D7FA3-1FBC-444C-9BB5-AC45D4A0C1D6},2018-12-30,2019-01-01,2018-12-30
4,{C79D7FA3-1FBC-444C-9BB5-AC45D4A0C1D6},2018-12-30,2019-01-01,2018-12-31
...,...,...,...,...
2472912,{A486D408-655A-4FFF-BD6D-A478EB8D2A15},2019-12-26,2019-12-31,2019-12-27
2472913,{A486D408-655A-4FFF-BD6D-A478EB8D2A15},2019-12-26,2019-12-31,2019-12-28
2472914,{A486D408-655A-4FFF-BD6D-A478EB8D2A15},2019-12-26,2019-12-31,2019-12-29
2472915,{A486D408-655A-4FFF-BD6D-A478EB8D2A15},2019-12-26,2019-12-31,2019-12-30
2472916,{A486D408-655A-4FFF-BD6D-A478EB8D2A15},2019-12-26,2019-12-31,2019-12-31

In [37]:
df4 = pd.merge(df3, poltava19_1)

In [39]:
pdays19 = df4

In [40]:
pdays_19_all = pdays19
pdays_19 = pdays_19_all[pdays_19_all["Date"] >= '2019-1-1']

In [41]:
#pdays_19_all.to_pickle("Poltava2019_days_all.pkl")