In [1]:
import pandas as pd

In [5]:
poltava18 = pd.read_excel("../data/Poltava_Pilot_18-19.xlsx", sheet_name = "2018en", index_col = None)

In [4]:
poltava19.shape

(269706, 22)

In [6]:
poltava18.shape

(260023, 22)

In [7]:
print(poltava18.head)

<bound method NDFrame.head of                                                  Hospital   ЄДРПОУ  \
0       КНП "ВЕЛИКОБАГАЧАНСЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКА...  1999201
1       КНП "ЗІНЬКІВСЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" З...  1999276
2       КП "1-А МІСЬКА КЛІНІЧНА ЛІКАРНЯ ПОЛТАВСЬКОЇ МІ...  1999655
3        КНМП "КРЕМЕНЧУЦЬКА МІСЬКА ЛІКАРНЯ "ПРАВОБЕРЕЖНА"  1204294
4       КНП "ВЕЛИКОБАГАЧАНСЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКА...  1999201
...                                                   ...      ...
260018  КНП "ГАДЯЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" ГАДЯ...  1999218
260019  КНП "ГАДЯЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" ГАДЯ...  1999218
260020  КНП "ГАДЯЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" ГАДЯ...  1999218
260021  КНП "ГАДЯЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" ГАДЯ...  1999218
260022  КНП "ГАДЯЦЬКА ЦЕНТРАЛЬНА РАЙОННА ЛІКАРНЯ" ГАДЯ...  1999218

                                    код запису  \
0       {B8F37486-3507-4E80-99EA-27713E81BFC6}
1       {037EDDEA-717A-4063-8D79-398613D00127}
2       {51B28698-1612-4201-97E9-F74C40EABCD3}
3       {939CB8B9-D304-4DEF-8FDA-2D6781A709AB}
4       {3A90B047-1571-458F-93E0-26F215D7E3D1}
...                                        ...
260018  {4C5C9B4B-3139-4015-BE92-A9678A14A725}
260019  {CF724A02-3412-464F-B32D-ED4341D3D720}
260020  {C08473BC-F16A-43AA-BB78-F3B4FA9281BC}
260021  {2B72C059-8111-45EE-898C-6DE49A4D0CAE}
260022  {C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB}

       дата введення форми 066/o в систему     id  gender birth date  \
0                               2018-02-23   3953       1 1956-01-29
1                               2018-02-02   4062       1 1936-04-12
2                               2018-09-11   8883       1 1947-01-14
3                               2018-03-30  4350C       2 1970-03-04
4                               2018-03-01   3909       1 1963-04-19
...                                    ...    ...     ...        ...
260018                          2018-12-24   7011       1 2013-01-25
260019                          2018-12-21   6959       1 1961-09-30
260020                          2018-12-20  і-843       1 1981-12-22
260021                          2018-12-24  і-857       1 1962-03-04
260022                          2018-12-21   6960       2 1955-02-01

        age in days hospitalization date discharge date  ...  \
0             22607           2017-12-21     2018-01-01  ...
1             29839           2017-12-22     2018-01-01  ...
2             25916           2017-12-28     2018-01-01  ...
3             17461           2017-12-23     2018-01-01  ...
4             19967           2017-12-18     2018-01-01  ...
...             ...                  ...            ...  ...
260018         2159           2018-12-24     2018-12-31  ...
260019        20901           2018-12-21     2018-12-31  ...
260020        13512           2018-12-20     2018-12-31  ...
260021        20749           2018-12-24     2018-12-31  ...
260022        23334           2018-12-21     2018-12-31  ...

       concomitant diagnosis 2 concomitant diagnosis 3  \
0                          NaN                     NaN
1                       B02.2†                   M79.2
2                        I67.2                   I11.9
3                          NaN                     NaN
4                          NaN                     NaN
...                        ...                     ...
260018                     NaN                     NaN
260019                     NaN                     NaN
260020                   J01.0                     NaN
260021                     NaN                     NaN
260022                     NaN                     NaN

       concomitant diagnosis 4 concomitant diagnosis 5 manipulation code 1  \
0                          NaN                     NaN                 NaN
1                          NaN                     NaN                 NaN
2                        I25.1                   E11.6                 NaN
3                          NaN                     NaN              HJ7.01
4                          NaN                     NaN                 NaN
...                        ...                     ...                 ...
260018                     NaN                     NaN                 NaN
260019                     NaN                     NaN                 NaN
260020                     NaN                     NaN                 NaN
260021                     NaN                     NaN                 NaN
260022                     NaN                     NaN                 NaN

       manipulation code 2 manipulation code 3 manipulation code 4  \
0                      NaN                 NaN                 NaN
1                      NaN                 NaN                 NaN
2                      NaN                 NaN                 NaN
3                      NaN                 NaN                 NaN
4                      NaN                 NaN                 NaN
...                    ...                 ...                 ...
260018                 NaN                 NaN                 NaN
260019                 NaN                 NaN                 NaN
260020                 NaN                 NaN                 NaN
260021                 NaN                 NaN                 NaN
260022                 NaN                 NaN                 NaN

       manipulation code 5 result
0                      NaN      0
1                      NaN      0
2                      NaN      0
3                      NaN      0
4                      NaN      0
...                    ...    ...
260018                 NaN      0
260019                 NaN      0
260020                 NaN      0
260021                 NaN      0
260022                 NaN      0

[260023 rows x 22 columns]>

In [8]:
import string
import re
def get_first_symbol(str):
    for char in str:
        #if (char in string.ascii_letters) or (char is char.isalpha()):
        #if (bool(re.match('[а-яА-Я]', str))) or (char is char.isalpha()):
        if char not in ["'", '"', "-"]:
            return char

In [9]:
def get_first_letters(string):
    string = string.replace('"', '')
    list_of_strings = string.split()
    s = ""
    for n in range(1, len(list_of_strings)):
        
        s = s + get_first_symbol(list_of_strings[n])
    return list_of_strings[0] + "_" + s

In [10]:
poltava18['HospitalAbb'] = poltava18['Hospital'].apply(get_first_letters)

In [11]:
print(poltava18['HospitalAbb'].unique())

['КНП_ВЦРЛВРРПО' 'КНП_ЗЦРЛЗРРПО' 'КП_1МКЛПМР' 'КНМП_КМЛП' 'КНП_МЦРЛМРР'
 'КНП_ЛІЛІРМГПГМРПО' 'КП_5МКЛПМР' 'КП_ПОНДПОР' 'КНМП_КМДЛ' 'КП_ЛЛІЛЛМР'
 'КП_МКПБПМР' 'КНП_ХЦРЛХРРПО' 'КНМП_КПЦІР' 'КНМП_КПМЛІ' 'КП_ПЦРЛПРР'
 'КНП_НЦРЛНРРПО' 'КП_КОНДПОР' 'КНП_ШЦРЛШРРПО' 'КП_3МКЛПМР' 'КП_ПОКІЛПОР'
 'КНП_ПЦРКЛПРР' 'КП_ОКЛВЛТДЗОЦПСТРЛМГПОР' 'КНП_ЛРЛЛРР' 'КНП_ГЦРЛГРР'
 'КНП_ГЦРЛГРРПО' 'КП_ПОКЛІМПОР' 'КНМП_ГЦРЛГРРПО' 'КНП_КЦРЛКРР'
 'КП_2МКЛПМР' 'КНП_КЦРЛІР' 'КНМП_ЛІЛК' 'КНП_ОЦРЛОРРПО' 'КНП_КРРКЦРЛ'
 'КНМП_ЛВЛ' 'КНП_ЧРЛЧРРПО' 'КНП_МЦРЛМРРПО' 'КНП_РЦРЛРРРПО' 'КНП_КЦРЛКРРПО'
 'КНП_ЧЦРЛ' 'КНП_ДЛПЛДРР' 'КП_4МКЛПМР' 'КП_ПОДКЛПОР' 'КМП_ЛП' 'КП_ЛОНДПОР'
 'КП_СЦРЛСРР' 'КП_ПОКШДПОР']

In [12]:
poltava18['hospital_id'] = poltava18["id"] + "_" + poltava18["HospitalAbb"]

In [13]:
poltava18 = poltava18.rename(columns={'код запису':'code_of_entry'})

In [14]:
print(poltava18.shape)
poltava18_1 = poltava18.drop_duplicates(subset=['code_of_entry'])
print(poltava18_1.shape)

(260023, 24)
(260023, 24)

In [15]:
df = poltava18_1
ids = df["code_of_entry"]
df[ids.isin(ids[ids.duplicated()])].sort_values("code_of_entry")

Empty DataFrame
Columns: [Hospital, ЄДРПОУ, code_of_entry, дата введення форми 066/o в систему, id, gender, birth date, age in days, hospitalization date, discharge date, main diagnosis, concomitant diagnosis 1, concomitant diagnosis 2, concomitant diagnosis 3, concomitant diagnosis 4, concomitant diagnosis 5, manipulation code 1, manipulation code 2, manipulation code 3, manipulation code 4, manipulation code 5, result, HospitalAbb, hospital_id]
Index: []

[0 rows x 24 columns]

In [16]:
poltava18_1['hospitalization date'] = pd.to_datetime(poltava18_1['hospitalization date'])
poltava18_1['discharge date'] = pd.to_datetime(poltava18_1['discharge date'])
#df_test['First_Date'].sub(df_test['Second Date'], axis=0)
poltava18_1["days_in_hospital"] = poltava18_1["discharge date"].sub(poltava18_1["hospitalization date"], axis = 0)

In [18]:
import numpy as np
poltava18_1['days_in_hospital'] = poltava18_1['days_in_hospital'] / np.timedelta64(1, 'D')
poltava18_1['days_in_hospital'] = poltava18_1['days_in_hospital'] + 1

In [19]:
print(poltava18_1['days_in_hospital'].sum())

2591266.0

In [20]:
poltavaD = poltava18_1.loc[:, ['code_of_entry', 'hospitalization date', 'discharge date']]
df = poltavaD
df['hospitalization date'] = pd.to_datetime(df['hospitalization date'])
df['discharge date'] = pd.to_datetime(df['discharge date'])

df2 = pd.melt(df, id_vars='code_of_entry', value_name='Date')
df2.Date = pd.to_datetime(df2.Date)
df2.set_index('Date', inplace=True)
df2.drop('variable', axis=1, inplace=True)
df3 = df2.groupby('code_of_entry').resample('D').ffill().reset_index(level=0, drop=True)
print(df3)

                                     code_of_entry
Date
2018-07-18  {00004563-4D53-4695-B0DC-D9564E0B7F0D}
2018-07-19  {00004563-4D53-4695-B0DC-D9564E0B7F0D}
2018-07-20  {00004563-4D53-4695-B0DC-D9564E0B7F0D}
2018-12-12  {00008388-509A-40D9-AAAE-F62C1C5B0F8D}
2018-12-13  {00008388-509A-40D9-AAAE-F62C1C5B0F8D}
...                                            ...
2018-04-01  {FFFF5A6F-FEAA-4C04-861D-CEEC30675ECA}
2018-04-02  {FFFF5A6F-FEAA-4C04-861D-CEEC30675ECA}
2018-04-03  {FFFF5A6F-FEAA-4C04-861D-CEEC30675ECA}
2018-04-04  {FFFF5A6F-FEAA-4C04-861D-CEEC30675ECA}
2018-05-14  {FFFF6C4F-4F9F-4760-B43B-87DD0CC32CF2}

[2591266 rows x 1 columns]

In [21]:
df3 = df3.reset_index()

In [22]:
df4 = pd.merge(df, df3)

In [24]:
df4

,code_of_entry,hospitalization date,discharge date,Date
0,{B8F37486-3507-4E80-99EA-27713E81BFC6},2017-12-21,2018-01-01,2017-12-21
1,{B8F37486-3507-4E80-99EA-27713E81BFC6},2017-12-21,2018-01-01,2017-12-22
2,{B8F37486-3507-4E80-99EA-27713E81BFC6},2017-12-21,2018-01-01,2017-12-23
3,{B8F37486-3507-4E80-99EA-27713E81BFC6},2017-12-21,2018-01-01,2017-12-24
4,{B8F37486-3507-4E80-99EA-27713E81BFC6},2017-12-21,2018-01-01,2017-12-25
...,...,...,...,...
2591261,{C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB},2018-12-21,2018-12-31,2018-12-27
2591262,{C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB},2018-12-21,2018-12-31,2018-12-28
2591263,{C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB},2018-12-21,2018-12-31,2018-12-29
2591264,{C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB},2018-12-21,2018-12-31,2018-12-30
2591265,{C88AB71C-F0ED-47D5-A2B1-9AFA90884DDB},2018-12-21,2018-12-31,2018-12-31

In [25]:
df4 = pd.merge(df3, poltava18_1)

In [26]:
pdays18 = df4

In [27]:
pdays_18_all = pdays18
pdays_18 = pdays_18_all[pdays_18_all["Date"] >= '2018-1-1']

In [28]:
pdays_18_all.to_pickle("Poltava2018_days_all.pkl")