In [1]:
import pandas as pd

In [2]:
PHospitals3_days = pd.read_pickle("../mydata/Poltava_3_Hospitals.pkl")

In [3]:

PHospitals3_days = PHospitals3_days[PHospitals3_days['Date'] >= '2018-1-1']
PHospitals3_days = PHospitals3_days[PHospitals3_days['Date'] < '2021-1-1']

In [34]:
PHospitals3_days

,Record_ID,Hospitalization_Visit_Date_x,Discharge_Date_x,Date,Hospital,Hospital_ID,System_Input_Date,ID,Patient_Gender,Birth_Date,...,Package_Id,Procedure_ID.1,Service_Name,Compliance_Comment,ADSG,UDSG,Reason_of_Visit,Result_of_Care,Errors_in_Grouping,Patient_ID
7,{3F60A2FA-92F5-4419-8137-6C023F74970B},2017-12-25 00:00:00,2018-01-05 00:00:00,2018-01-01,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,2018-01-09 00:00:00,13429/8,2,1967-05-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,{3F60A2FA-92F5-4419-8137-6C023F74970B},2017-12-25 00:00:00,2018-01-05 00:00:00,2018-01-02,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,2018-01-09 00:00:00,13429/8,2,1967-05-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,{3F60A2FA-92F5-4419-8137-6C023F74970B},2017-12-25 00:00:00,2018-01-05 00:00:00,2018-01-03,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,2018-01-09 00:00:00,13429/8,2,1967-05-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,{3F60A2FA-92F5-4419-8137-6C023F74970B},2017-12-25 00:00:00,2018-01-05 00:00:00,2018-01-04,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,2018-01-09 00:00:00,13429/8,2,1967-05-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,{3F60A2FA-92F5-4419-8137-6C023F74970B},2017-12-25 00:00:00,2018-01-05 00:00:00,2018-01-05,"КП ""ЛУБЕНСЬКА ЛІКАРНЯ ІНТЕНСИВНОГО ЛІКУВАННЯ"" ...",1999388,2018-01-09 00:00:00,13429/8,2,1967-05-14 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080763,a2af28ee-13c6-45d3-b0b3-47b7062309ae,2020-12-30 02:00:00,2021-01-05 11:00:00,2020-12-31,NaN,1111581,2021-01-06 09:01:55.780,NaN,Жіноча,NaN,...,NaN,NaN,NaN,Немає договору на пакет 4\nНемає договору на п...,G61,K03,Переведений з іншого ЗОЗ,Переведено в інший ЗОЗ,-,9DECB464BEE1ED19FFC0A92694121DB3E4D9E6ECD8EE87...
1080769,f3f7f7bc-1fed-3f69-87e3-f5efa2996c35,2020-12-30 02:00:00,2021-01-04 11:54:00,2020-12-31,NaN,1999106,2021-01-05 12:44:53.411,NaN,Жіноча,NaN,...,NaN,NaN,NaN,Немає договору на пакет 7\nНемає договору на п...,O60,O01,За направленням паперовим,Виписаний з одужанням,-,4D73378B067749579BF6609FA357E974F44FCFBC0BA9BF...
1080774,a1ddb813-bd4d-5820-8127-4777f952f2ae,2020-12-30 02:00:00,2021-01-12 12:11:00,2020-12-31,NaN,1999106,2021-01-12 14:13:03.061,NaN,Жіноча,NaN,...,NaN,NaN,NaN,Немає договору на пакет 7\nНемає договору на п...,O06,14.0.01,За направленням паперовим,Виписаний з одужанням,-,7134ACF77ED74D927DFB165F61B826627D032E34291DD4...
1080787,e80c3b87-8520-429a-a43e-d9cc0736ba9a,2020-12-30 02:00:00,2021-01-08 10:02:05,2020-12-31,NaN,1999388,2021-01-11 10:19:56.725,NaN,Чоловіча,NaN,...,NaN,NaN,NaN,Не відповідає жодному пакету/послузі,E62-1,J01A,NaN,Виписаний з одужанням,-,10C59961B31BEA871831BDBA661C92048F67B5EF1A253C...
1080796,e9804a2c-936f-3e4b-b8cd-ee1ad6ecde0a,2020-12-30 02:00:00,2021-01-04 14:00:00,2020-12-31,NaN,1999106,2021-01-04 14:11:27.398,NaN,Чоловіча,NaN,...,NaN,NaN,NaN,Немає договору на пакет 8\nНемає договору на п...,P66,P01,Народжений у закладі,Виписаний з одужанням,-,23BCEFC88119392B81718FAA265650E10241B739BC8E03...

In [4]:
PoltavaH_All_Q = PHospitals3_days.groupby([pd.Grouper(key = 'Date', freq='Q'), 'Hospital_ID','Main_Diagnosis_L1'])['Record_ID'].count()
PoltavaH_All_Q

Date        Hospital_ID  Main_Diagnosis_L1
2018-03-31  1111581      A00-B99               61
                         C00-D48              275
                         D50-D89               21
                         E00-E99               48
                         F00-F99                6
                                             ...
2020-12-31  1999388      R00-R99               77
                         S00-T99              357
                         U00-U85              123
                         V00-Z99                4
                         Z00-Z99               21
Name: Record_ID, Length: 628, dtype: int64

In [35]:
PoltavaH_All_Q_2 = PHospitals3_days.groupby([pd.Grouper(key = 'Date', freq='Q'), 'Hospital_ID','Main_Diagnosis_L1'])['Record_ID'].nunique()
PoltavaH_All_Q_2

Date        Hospital_ID  Main_Diagnosis_L1
2018-03-31  1111581      A00-B99               4
                         C00-D48              34
                         D50-D89               3
                         E00-E99               6
                         F00-F99               4
                                              ..
2020-12-31  1999388      R00-R99              13
                         S00-T99              43
                         U00-U85              16
                         V00-Z99               2
                         Z00-Z99               6
Name: Record_ID, Length: 628, dtype: int64

In [6]:
PoltavaH_All_Q = PoltavaH_All_Q.reset_index()
PoltavaH_All_Q

          Date  Hospital_ID Main_Diagnosis_L1  Record_ID
0   2018-03-31      1111581           A00-B99         61
1   2018-03-31      1111581           C00-D48        275
2   2018-03-31      1111581           D50-D89         21
3   2018-03-31      1111581           E00-E99         48
4   2018-03-31      1111581           F00-F99          6
..         ...          ...               ...        ...
623 2020-12-31      1999388           R00-R99         77
624 2020-12-31      1999388           S00-T99        357
625 2020-12-31      1999388           U00-U85        123
626 2020-12-31      1999388           V00-Z99          4
627 2020-12-31      1999388           Z00-Z99         21

[628 rows x 4 columns]

In [24]:
Poltava11_Q = PoltavaH_All_Q[PoltavaH_All_Q['Hospital_ID'] == 1111581]
Poltava11_Q_pivot = Poltava11_Q.pivot_table(index="Date", columns="Main_Diagnosis_L1", values="Record_ID")
Poltava11_Q_pivot

Main_Diagnosis_L1,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H60-H99,I00-I99,J00-J99,K00-K99,L00-L99,M00-M99,N00-N99,O00-O99,Q00-Q99,R00-R99,S00-T99,U00-U85,V00-Z99,Z00-Z99
Date,,,,,,,,,,,,,,,,,,,,
2018-03-31,61.0,275.0,21.0,48.0,6.0,686.0,NaN,5601.0,2845.0,2478.0,361.0,3168.0,1183.0,3.0,29.0,77.0,1921.0,NaN,14.0,2.0
2018-06-30,97.0,288.0,67.0,120.0,12.0,814.0,NaN,4169.0,1032.0,1863.0,346.0,3055.0,1078.0,15.0,NaN,106.0,2184.0,NaN,1.0,8.0
2018-09-30,75.0,226.0,15.0,258.0,5.0,750.0,NaN,3746.0,642.0,1386.0,239.0,2959.0,1170.0,24.0,19.0,99.0,1787.0,NaN,7.0,12.0
2018-12-31,103.0,284.0,NaN,144.0,NaN,694.0,NaN,4316.0,1616.0,2082.0,254.0,3310.0,1263.0,NaN,17.0,67.0,1844.0,NaN,1.0,7.0
2019-03-31,76.0,298.0,20.0,39.0,NaN,731.0,NaN,4414.0,1497.0,1864.0,260.0,2501.0,1165.0,9.0,25.0,28.0,1960.0,NaN,8.0,11.0
2019-06-30,68.0,263.0,33.0,127.0,2.0,1124.0,120.0,3555.0,760.0,1824.0,330.0,2407.0,1077.0,NaN,4.0,55.0,1426.0,NaN,14.0,NaN
2019-09-30,46.0,219.0,114.0,199.0,NaN,1931.0,74.0,3069.0,705.0,1651.0,410.0,2142.0,1167.0,NaN,3.0,13.0,1668.0,NaN,NaN,NaN
2019-12-31,10.0,409.0,104.0,246.0,5.0,1619.0,109.0,4149.0,1133.0,2195.0,266.0,3070.0,1495.0,NaN,9.0,30.0,1774.0,NaN,NaN,NaN
2020-03-31,22.0,296.0,59.0,66.0,4.0,1349.0,31.0,2211.0,1373.0,1648.0,258.0,2407.0,1132.0,3.0,NaN,22.0,1363.0,NaN,NaN,NaN
2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,NaN,30.0,NaN,48.0,NaN,12.0,NaN,103.0,2103.0,264.0,26.0,NaN,26.0,NaN,NaN,NaN,83.0,197.0,NaN,NaN

In [25]:
Poltava11_Q_pivot.reset_index(inplace = True)

In [26]:
Poltava11_Q_pivot

Main_Diagnosis_L1,Date,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H60-H99,I00-I99,J00-J99,...,L00-L99,M00-M99,N00-N99,O00-O99,Q00-Q99,R00-R99,S00-T99,U00-U85,V00-Z99,Z00-Z99
0,2018-03-31,61.0,275.0,21.0,48.0,6.0,686.0,NaN,5601.0,2845.0,...,361.0,3168.0,1183.0,3.0,29.0,77.0,1921.0,NaN,14.0,2.0
1,2018-06-30,97.0,288.0,67.0,120.0,12.0,814.0,NaN,4169.0,1032.0,...,346.0,3055.0,1078.0,15.0,NaN,106.0,2184.0,NaN,1.0,8.0
2,2018-09-30,75.0,226.0,15.0,258.0,5.0,750.0,NaN,3746.0,642.0,...,239.0,2959.0,1170.0,24.0,19.0,99.0,1787.0,NaN,7.0,12.0
3,2018-12-31,103.0,284.0,NaN,144.0,NaN,694.0,NaN,4316.0,1616.0,...,254.0,3310.0,1263.0,NaN,17.0,67.0,1844.0,NaN,1.0,7.0
4,2019-03-31,76.0,298.0,20.0,39.0,NaN,731.0,NaN,4414.0,1497.0,...,260.0,2501.0,1165.0,9.0,25.0,28.0,1960.0,NaN,8.0,11.0
5,2019-06-30,68.0,263.0,33.0,127.0,2.0,1124.0,120.0,3555.0,760.0,...,330.0,2407.0,1077.0,NaN,4.0,55.0,1426.0,NaN,14.0,NaN
6,2019-09-30,46.0,219.0,114.0,199.0,NaN,1931.0,74.0,3069.0,705.0,...,410.0,2142.0,1167.0,NaN,3.0,13.0,1668.0,NaN,NaN,NaN
7,2019-12-31,10.0,409.0,104.0,246.0,5.0,1619.0,109.0,4149.0,1133.0,...,266.0,3070.0,1495.0,NaN,9.0,30.0,1774.0,NaN,NaN,NaN
8,2020-03-31,22.0,296.0,59.0,66.0,4.0,1349.0,31.0,2211.0,1373.0,...,258.0,2407.0,1132.0,3.0,NaN,22.0,1363.0,NaN,NaN,NaN
9,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-12-31,NaN,30.0,NaN,48.0,NaN,12.0,NaN,103.0,2103.0,...,26.0,NaN,26.0,NaN,NaN,NaN,83.0,197.0,NaN,NaN

In [28]:
Poltava11_Q_pivot = Poltava11_Q_pivot.reset_index().rename_axis(None, axis=1)
Poltava11_Q_pivot

,level_0,index,Date,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H60-H99,...,L00-L99,M00-M99,N00-N99,O00-O99,Q00-Q99,R00-R99,S00-T99,U00-U85,V00-Z99,Z00-Z99
0,0,0,2018-03-31,61.0,275.0,21.0,48.0,6.0,686.0,NaN,...,361.0,3168.0,1183.0,3.0,29.0,77.0,1921.0,NaN,14.0,2.0
1,1,1,2018-06-30,97.0,288.0,67.0,120.0,12.0,814.0,NaN,...,346.0,3055.0,1078.0,15.0,NaN,106.0,2184.0,NaN,1.0,8.0
2,2,2,2018-09-30,75.0,226.0,15.0,258.0,5.0,750.0,NaN,...,239.0,2959.0,1170.0,24.0,19.0,99.0,1787.0,NaN,7.0,12.0
3,3,3,2018-12-31,103.0,284.0,NaN,144.0,NaN,694.0,NaN,...,254.0,3310.0,1263.0,NaN,17.0,67.0,1844.0,NaN,1.0,7.0
4,4,4,2019-03-31,76.0,298.0,20.0,39.0,NaN,731.0,NaN,...,260.0,2501.0,1165.0,9.0,25.0,28.0,1960.0,NaN,8.0,11.0
5,5,5,2019-06-30,68.0,263.0,33.0,127.0,2.0,1124.0,120.0,...,330.0,2407.0,1077.0,NaN,4.0,55.0,1426.0,NaN,14.0,NaN
6,6,6,2019-09-30,46.0,219.0,114.0,199.0,NaN,1931.0,74.0,...,410.0,2142.0,1167.0,NaN,3.0,13.0,1668.0,NaN,NaN,NaN
7,7,7,2019-12-31,10.0,409.0,104.0,246.0,5.0,1619.0,109.0,...,266.0,3070.0,1495.0,NaN,9.0,30.0,1774.0,NaN,NaN,NaN
8,8,8,2020-03-31,22.0,296.0,59.0,66.0,4.0,1349.0,31.0,...,258.0,2407.0,1132.0,3.0,NaN,22.0,1363.0,NaN,NaN,NaN
9,9,9,2020-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,10,2020-12-31,NaN,30.0,NaN,48.0,NaN,12.0,NaN,...,26.0,NaN,26.0,NaN,NaN,NaN,83.0,197.0,NaN,NaN

In [29]:
Poltava11_Q_pivot.drop(columns=['index', 'level_0'], inplace = True)
Poltava11_Q_pivot.fillna(0, inplace = True)
Poltava11_Q_pivot

,Date,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H60-H99,I00-I99,J00-J99,...,L00-L99,M00-M99,N00-N99,O00-O99,Q00-Q99,R00-R99,S00-T99,U00-U85,V00-Z99,Z00-Z99
0,2018-03-31,61.0,275.0,21.0,48.0,6.0,686.0,0.0,5601.0,2845.0,...,361.0,3168.0,1183.0,3.0,29.0,77.0,1921.0,0.0,14.0,2.0
1,2018-06-30,97.0,288.0,67.0,120.0,12.0,814.0,0.0,4169.0,1032.0,...,346.0,3055.0,1078.0,15.0,0.0,106.0,2184.0,0.0,1.0,8.0
2,2018-09-30,75.0,226.0,15.0,258.0,5.0,750.0,0.0,3746.0,642.0,...,239.0,2959.0,1170.0,24.0,19.0,99.0,1787.0,0.0,7.0,12.0
3,2018-12-31,103.0,284.0,0.0,144.0,0.0,694.0,0.0,4316.0,1616.0,...,254.0,3310.0,1263.0,0.0,17.0,67.0,1844.0,0.0,1.0,7.0
4,2019-03-31,76.0,298.0,20.0,39.0,0.0,731.0,0.0,4414.0,1497.0,...,260.0,2501.0,1165.0,9.0,25.0,28.0,1960.0,0.0,8.0,11.0
5,2019-06-30,68.0,263.0,33.0,127.0,2.0,1124.0,120.0,3555.0,760.0,...,330.0,2407.0,1077.0,0.0,4.0,55.0,1426.0,0.0,14.0,0.0
6,2019-09-30,46.0,219.0,114.0,199.0,0.0,1931.0,74.0,3069.0,705.0,...,410.0,2142.0,1167.0,0.0,3.0,13.0,1668.0,0.0,0.0,0.0
7,2019-12-31,10.0,409.0,104.0,246.0,5.0,1619.0,109.0,4149.0,1133.0,...,266.0,3070.0,1495.0,0.0,9.0,30.0,1774.0,0.0,0.0,0.0
8,2020-03-31,22.0,296.0,59.0,66.0,4.0,1349.0,31.0,2211.0,1373.0,...,258.0,2407.0,1132.0,3.0,0.0,22.0,1363.0,0.0,0.0,0.0
9,2020-09-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2020-12-31,0.0,30.0,0.0,48.0,0.0,12.0,0.0,103.0,2103.0,...,26.0,0.0,26.0,0.0,0.0,0.0,83.0,197.0,0.0,0.0

In [31]:
Poltava18_Q = PoltavaH_All_Q[PoltavaH_All_Q['Hospital_ID'] == 1999388]
Poltava18_Q_pivot = Poltava18_Q.pivot_table(index="Date", columns="Main_Diagnosis_L1", values="Record_ID")


Poltava18_Q_pivot.reset_index(inplace = True)



Poltava18_Q_pivot = Poltava18_Q_pivot.reset_index().rename_axis(None, axis=1)


Poltava18_Q_pivot.drop(columns=['index'], inplace = True)
Poltava18_Q_pivot.fillna(0, inplace = True)
Poltava18_Q_pivot

,Date,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H00-H59,H60-H99,I00-I99,...,N00-N99,O00-O99,P00-P99,Q00-Q99,R00-R99,S00-T99,U00-U85,U78-U88,V00-Z99,Z00-Z99
0,2018-03-31,628.0,2200.0,157.0,848.0,48.0,761.0,1783.0,299.0,5570.0,...,1716.0,2021.0,51.0,258.0,71.0,2422.0,0.0,0.0,0.0,61.0
1,2018-06-30,1021.0,2293.0,264.0,909.0,56.0,752.0,1478.0,388.0,5360.0,...,1687.0,1576.0,42.0,208.0,62.0,2121.0,0.0,0.0,0.0,79.0
2,2018-09-30,1101.0,2368.0,200.0,672.0,28.0,863.0,1317.0,331.0,4793.0,...,1648.0,1853.0,14.0,166.0,79.0,2743.0,0.0,0.0,0.0,84.0
3,2018-12-31,630.0,2635.0,245.0,963.0,61.0,898.0,1843.0,348.0,5476.0,...,1579.0,1881.0,2.0,256.0,71.0,2537.0,0.0,0.0,2.0,201.0
4,2019-03-31,1160.0,2873.0,106.0,703.0,54.0,840.0,1530.0,312.0,5157.0,...,1595.0,2097.0,18.0,184.0,104.0,2503.0,0.0,0.0,2.0,107.0
5,2019-06-30,1345.0,2407.0,160.0,808.0,11.0,871.0,1248.0,212.0,5448.0,...,1902.0,1776.0,162.0,202.0,64.0,2269.0,0.0,0.0,0.0,80.0
6,2019-09-30,1271.0,1806.0,117.0,628.0,36.0,1359.0,1320.0,221.0,4367.0,...,1596.0,1853.0,281.0,162.0,151.0,2183.0,0.0,0.0,0.0,115.0
7,2019-12-31,1195.0,1808.0,207.0,748.0,21.0,1309.0,1797.0,164.0,4647.0,...,1733.0,1544.0,168.0,162.0,121.0,1981.0,0.0,0.0,0.0,41.0
8,2020-03-31,288.0,499.0,39.0,242.0,35.0,363.0,439.0,92.0,1351.0,...,503.0,577.0,64.0,93.0,35.0,602.0,0.0,0.0,0.0,47.0
9,2020-06-30,54.0,247.0,20.0,67.0,0.0,107.0,207.0,6.0,146.0,...,210.0,1025.0,1.0,12.0,7.0,427.0,0.0,1.0,9.0,132.0
10,2020-09-30,259.0,432.0,66.0,360.0,0.0,545.0,822.0,49.0,1085.0,...,682.0,1358.0,2.0,25.0,34.0,654.0,2.0,0.0,14.0,138.0
11,2020-12-31,23.0,504.0,21.0,46.0,0.0,279.0,338.0,59.0,1429.0,...,397.0,1272.0,114.0,60.0,77.0,357.0,123.0,0.0,4.0,21.0

In [32]:
Poltava16_Q = PoltavaH_All_Q[PoltavaH_All_Q['Hospital_ID'] == 1999106]
Poltava16_Q_pivot = Poltava16_Q.pivot_table(index="Date", columns="Main_Diagnosis_L1", values="Record_ID")


Poltava16_Q_pivot.reset_index(inplace = True)



Poltava16_Q_pivot = Poltava16_Q_pivot.reset_index().rename_axis(None, axis=1)


Poltava16_Q_pivot.drop(columns=['index'], inplace = True)
Poltava16_Q_pivot.fillna(0, inplace = True)
Poltava16_Q_pivot

,Date,A00-B99,C00-D48,D50-D89,E00-E99,F00-F99,G00-G99,H00-H59,H60-H99,I00-I99,...,L00-L99,M00-M99,N00-N99,O00-O99,P00-P99,Q00-Q99,R00-R99,S00-T99,V00-Z99,Z00-Z99
0,2018-03-31,113.0,5022.0,319.0,3343.0,7.0,3962.0,3820.0,371.0,10092.0,...,1194.0,3222.0,7552.0,7458.0,0.0,340.0,16.0,4642.0,0.0,8.0
1,2018-06-30,47.0,4866.0,270.0,3129.0,9.0,4420.0,3900.0,362.0,9765.0,...,1284.0,3366.0,7486.0,6579.0,0.0,367.0,31.0,4448.0,0.0,14.0
2,2018-09-30,98.0,4997.0,247.0,2946.0,7.0,4419.0,3519.0,530.0,9043.0,...,1996.0,3565.0,6403.0,6378.0,2.0,183.0,35.0,4462.0,11.0,69.0
3,2018-12-31,100.0,5071.0,287.0,3087.0,14.0,4165.0,4332.0,384.0,10690.0,...,1610.0,3550.0,6171.0,5873.0,961.0,301.0,33.0,4388.0,17.0,147.0
4,2019-03-31,97.0,4948.0,170.0,2765.0,0.0,3813.0,3342.0,383.0,9507.0,...,1461.0,3773.0,6525.0,6494.0,2123.0,272.0,13.0,3516.0,0.0,35.0
5,2019-06-30,24.0,4736.0,131.0,2408.0,1.0,4269.0,3547.0,338.0,8422.0,...,1299.0,3509.0,6185.0,6081.0,2184.0,339.0,0.0,4260.0,0.0,28.0
6,2019-09-30,56.0,4553.0,121.0,2747.0,0.0,4462.0,2806.0,414.0,8315.0,...,1567.0,3304.0,6793.0,6705.0,2506.0,307.0,9.0,4677.0,0.0,0.0
7,2019-12-31,47.0,4871.0,112.0,3045.0,0.0,4582.0,3883.0,380.0,8919.0,...,1414.0,3775.0,7639.0,5559.0,2195.0,252.0,0.0,4499.0,0.0,0.0
8,2020-03-31,54.0,4280.0,133.0,2253.0,0.0,3653.0,2612.0,317.0,8108.0,...,1107.0,3054.0,6193.0,5206.0,2153.0,325.0,50.0,2992.0,0.0,0.0
9,2020-06-30,0.0,3.0,0.0,0.0,0.0,22.0,10.0,0.0,2699.0,...,8.0,10.0,22.0,3106.0,2655.0,59.0,0.0,31.0,0.0,2.0
10,2020-09-30,33.0,3647.0,77.0,1235.0,0.0,2814.0,1820.0,245.0,5196.0,...,1166.0,1983.0,5248.0,6228.0,2298.0,115.0,5.0,3480.0,0.0,14.0
11,2020-12-31,1.0,2268.0,58.0,729.0,0.0,2356.0,1177.0,177.0,4523.0,...,908.0,1492.0,3748.0,5528.0,1704.0,142.0,17.0,3004.0,0.0,21.0

In [33]:
with pd.ExcelWriter('Poltava_3_Hospitals.xlsx') as writer:  
    Poltava11_Q_pivot.to_excel(writer, sheet_name='1111581')
    Poltava18_Q_pivot.to_excel(writer, sheet_name='1999388')
    Poltava16_Q_pivot.to_excel(writer, sheet_name='1999106')